.Footer {
  background-color: color(purple);
  padding: 2.167em 0 1.833em 0;

  .media_logos{
    text-align: right;
    @media(max-width: $screen-lg){
      text-align: center;
    }
    a{
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
    i{
      font-size: 36px;
    }

    img{
      width: 35px;
    }

  }

  p, a {
    color: #fff;
    font-size: 1.167em;
    margin: 0;
  }

  .row:last-child {
    margin: 1.750em 0;
  }

  nav {
    margin-top: 1rem;

    @media all and (min-width: $screen-lg) {
      margin: 0;
    }

    a {
      display: block;

      @media all and (min-width: $screen-lg) {
        display: inline-block;

        &::after {
          content: "|";
          padding: 0 1em;
        }

        &:last-child::after {
          display: none;
        }
      }
    }
  }

  img {
    max-height: 55px;
  }
}

@media (max-width: $screen-lg - 1) {
  nav {
    a {
      padding: 2px 0 2px 0;
    }
  }
}

.containerHome{
  .Footer{
    .row:last-child {
      margin: 1.50em 0;
    }
  }
}