$colors: (
  yellow: #fdc903,
  blue: #2e2053,
  grey-light: #e2e2e2,
  grey-dark: #747475,
  grey-darker: #404041,
  black: #000,
  purple: #25184c,
  link-button: #4a4a4a,
  white: #f4f4f4,
  green: #a5b7b5
);

$header-height: 160px;
